{# HTMX partial response - returns only the dynamic content portions #}
{# Changes from theme:
   PLUGIN CHANGE 1: Added modules template case for HTMX rendering #}

{% set theme_config = config.themes.helios %}
{% set toc_pos = page.header.navigation.toc_position|default(theme_config.navigation.toc_position|default('right')) %}
{# Breadcrumbs #}
<div id="htmx-breadcrumbs">
    {% if theme_var('navigation.breadcrumbs', true) and helios_breadcrumbs is defined and helios_breadcrumbs|length > 1 %}
        {% include 'partials/breadcrumbs.html.twig' %}
    {% endif %}
</div>

{# Main article content - template-aware rendering #}
<article id="htmx-article" class="prose dark:prose-invert max-w-none">
    {% if page.template == 'chapter' %}
        {% include 'partials/content/chapter.html.twig' %}
    {# PLUGIN CHANGE 1 #}
    {% elseif page.template == 'modules' %}
        {% include 'partials/content/modules.html.twig' %}
    {% elseif page.template == 'api-endpoint' %}
        {% include 'partials/content/api-endpoint.html.twig' %}
    {% elseif page.template == 'error' %}
        {% include 'partials/content/error.html.twig' %}
    {% else %}
        {# Default template content #}
        {{ page.content|raw }}
    {% endif %}
</article>

{# Previous/Next navigation #}
<div id="htmx-prev-next">
    {% if theme_var('navigation.prev_next', true) %}
        {% include 'partials/prev-next.html.twig' %}
    {% endif %}
</div>

{# TOC content for client-side update #}
<div id="htmx-toc-template" style="display:none" x-ignore aria-hidden="true">
    {% include 'partials/toc.html.twig' %}
</div>

{# Navigation state for client-side active state updates #}
<script type="application/json" id="htmx-nav-state">
{
    "route": "{{ page.route }}",
    "url": "{{ page.url }}",
    "title": "{{ page.title|e('js') }}",
    "siteTitle": "{{ site.title|e('js') }}",
    "appendSiteTitle": {{ (theme_config.append_site_title ?? true) ? 'true' : 'false' }},
    "toc_position": "{{ toc_pos }}"
}
</script>
